#AddBtn{
    background-color: white; /* Green */
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#AddBtn:hover{
    background-color: black;
    color: white;
    transform: scale(1.1);
    border-radius: 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/*
h1 {
    font-size: medium;
    overflow: hidden; 
    border-right: .15em solid orange; 
    white-space: nowrap;
    margin: 0 auto; 
    letter-spacing: .30em; 
    animation: 
      typing 5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
  }

*/



input{
    transition: all 0.3s ease-in-out;
}

input:focus {
    outline: none;
    border: 2px solid #4CAF50; /* Green */
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}
th {
    transition: all 0.2s ease-in-out;
    border-right: 1px dotted black;
}
td {
    border-right: 1px dotted black;
}

th:hover {
    text-decoration: underline;
    cursor: default;
}
