.icon {
  width: 120px;
  height: 120px;
  margin-right: 5px;
  transition: all 0.3s ease-in-out;
  filter: drop-shadow(0 0 10px #000000);
}
.icon:hover {
  filter: drop-shadow(0 0 2px #ffffff);
  transform: scale(1.1);
  cursor: pointer;
}
.icon:active {
  transform: scale(0.9);
  cursor: pointer;
}

* {
  color: white;
  user-select: none;
}

body {
  background-color: #3c3741;
  font-family: Arial, sans-serif;
  margin: 0;
}
header {
  position: relative;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: linear-gradient(
    to bottom,
    rgba(51, 51, 51, 1),
    rgba(51, 51, 51, 0)
  );
  color: white;
  font-family: Arial, sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  margin: 0;
}

header h2 {
  padding: 5px;
  filter: drop-shadow(0 0 5px #000000);
  border-right: 2px solid white;
  white-space: nowrap;
  text-align: end;
  overflow: hidden;
  animation: escribir 12s steps(140) 1 normal both, parpadeo .7s step-end infinite;
}

@keyframes escribir {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes parpadeo {
  50% { border-color: transparent; }
}

a {
  text-decoration: none;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  filter: drop-shadow(0 0 3px #ffffff);

}
a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width 0.3s ease-in-out;
  margin: 0 auto;
  filter: drop-shadow(0 0 3px #ffffff);

}

a:hover::after {
  width: 100%;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-bottom: 35px;
  gap: 5%;
}

.main-layout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
}

aside {
  width: 50%;
  height: auto;
  padding: 20px;
  border-left: 2px solid #444;
  position: relative;
  min-width: 200px;
  background-color: rgba(255, 6, 6, 0.2);
  border-radius: 10px;
  box-shadow: 0 0 10px red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

aside p {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

aside i {
  color: rgb(255, 6, 6);
  font-size: 15px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: underline;
}

aside span {
  background-color: white;
}

.csh3 {
  color: rgb(255, 6, 6);
  font-size: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px;
  
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: dangerAnimation 1s ease-in-out infinite alternate;
}

.dangerSign {
  height: auto;
  width: 30px;
}

@keyframes dangerAnimation {
  0% {
    background-color: rgb(255, 6, 6);
    color: white;
    filter: drop-shadow(0 0 2px #ffffff), brightness(0.8);

  }
  100% {
    background-color: white;
    filter: drop-shadow(0 0 2px #ff0000),brightness(0.8);
    color: red;
  }
}



.news {
  border-radius: 10px;
  padding: 10px;
  padding-left: 2em;
  padding-right: 2em;
  margin-bottom: 10px;
  height: fit-content;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  background-color: rgba(0, 0, 0, 0.1);

}

.newCard {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  gap: 10px;
  height: fit-content;
  box-shadow: 0 0 10px #000000;
}

.newCard h3 {
  margin-top: 0;
  padding-top: 0;
  filter: drop-shadow(0 0 2px #000000);
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  margin: 0;
  padding: 5px;
}

@keyframes details-show {
  from {
    opacity:0;
    transform: var(--details-translate, translateY(-0.5em));
  }
}

details[open] > *:not(summary) {
  animation: details-show 0.3s ease-in-out;
}


.newCard summary {
  
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: fit-content;
  height: fit-content;
  gap: 10px;
  transition: all 0.2s ease-in-out;
}

.newCard summary:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

.newCard .currentStatusP {
  animation: currentStatusAnimation 0.8s ease-in-out infinite alternate;
}

@keyframes currentStatusAnimation {
  0% {
    filter: drop-shadow(0 0 5px #0000ff);
  }
  100% {
    filter: drop-shadow(0 0 5px #ff0000);
  }
}


.news img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px #000000;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: #3c3741;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  text-align: center;
  border-top: 2px solid #444;
  margin-top: 20px;
}

.ojo {
  width: 720px;
  height: 520px;
  background: rgba(140, 13, 13, 0.016);
  border: 4px solid black;
  border-radius: 70% 0%;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  filter: opacity(0.5) blur(5px);
  transition: all 0.2s ease-in-out;
}

.cerrado{
  height: 15px;
  margin-top: 50px;
}

.iris {
  width: 120px;
  height: 120px;
  background: #ffffff2e;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 0.1s, left 0.1s;
  transition: transform 0.2s ease;
  
}

.pupila {
  width: 40px;
  height: 40px;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.2s ease;
  background-image: url(images/SIA.png);
  background-size: cover;
  background-position: center;
}


